# Core
python-dotenv

# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Database (Async)
sqlalchemy>=2.0
asyncpg

# Auth
PyJWT
google-auth

# Data
pandas
numpy

# Vector DB
pinecone-client

# Google GenAI
google-generativeai
